In [1]:
import sys
import pandas as pd

In [10]:
# Get the paths
path_A = '../DATA/imdb3_neg_nan.csv'
path_B = '../DATA/thenumbers3_neg_nan.csv'
path_C = '../DATA/AllTuplePairs.csv'
A = em.read_csv_metadata(path_A, key='id')
B = em.read_csv_metadata(path_B, key='id')
C = em.read_csv_metadata(path_C, 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')

In [11]:
C.head()

,_id,ltable_id,rtable_id,ltable_title,ltable_year,ltable_mpaa,ltable_runtime,ltable_genres,ltable_director,ltable_stars,ltable_gross,rtable_title,rtable_year,rtable_mpaa,rtable_runtime,rtable_genres,rtable_director,rtable_stars,rtable_gross
0,4146,1757,11,Hamlet,1996,PG-13,242 min,Drama,Kenneth Branagh,"Kenneth Branagh,Julie Christie,Derek Jacobi,Kate Winslet",$4.41M,Hamlet,1996,PG-13,-1,Drama,-1,Kenneth Branagh,"$7,129,670"
1,6671,1093,20,The Assassination of Jesse James by the Coward Robert Ford,2007,R,160 min,"Biography, Crime, Drama",Andrew Dominik,"Brad Pitt,Casey Affleck,Sam Shepard,Mary-Louise Parker",$3.90M,Home of the Brave,2007,R,106 minutes,Drama,Irwin Winkler,"Samuel L. Jackson,Jessica Biel,Brian Presley,Curtis ""50 Cent"" Jackson",-1
2,6891,1723,20,Sweeney Todd: The Demon Barber of Fleet Street,2007,R,116 min,"Drama, Horror, Musical",Tim Burton,"Johnny Depp,Helena Bonham Carter,Alan Rickman,Timothy Spall",$52.90M,Home of the Brave,2007,R,106 minutes,Drama,Irwin Winkler,"Samuel L. Jackson,Jessica Biel,Brian Presley,Curtis ""50 Cent"" Jackson",-1
3,7619,3795,20,30 Days of Night,2007,R,113 min,"Horror, Thriller",David Slade,"Josh Hartnett,Melissa George,Danny Huston,Ben Foster",$39.57M,Home of the Brave,2007,R,106 minutes,Drama,Irwin Winkler,"Samuel L. Jackson,Jessica Biel,Brian Presley,Curtis ""50 Cent"" Jackson",-1
4,7647,3883,20,In the Valley of Elah,2007,R,121 min,"Crime, Drama, Mystery",Paul Haggis,"Tommy Lee Jones,Charlize Theron,Jonathan Tucker,Jason Patric",$6.78M,Home of the Brave,2007,R,106 minutes,Drama,Irwin Winkler,"Samuel L. Jackson,Jessica Biel,Brian Presley,Curtis ""50 Cent"" Jackson",-1

In [15]:
G = em.read_csv_metadata('../DATA/G.csv', 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')
#Build and train model on G
rf = em.RFMatcher(name='RF', random_state=0)
feature_table = em.get_features_for_matching(A, B,
                             validate_inferred_attr_types=False)
H = em.extract_feature_vecs(G, 
                            feature_table=feature_table, 
                            attrs_after='gold',
                            show_progress=False)
rf.fit(table=H, #the entire development set
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')

In [17]:
#convert All Tuple Pairs to features
CF = em.extract_feature_vecs(C, 
                            feature_table=feature_table, 
                            #attrs_after='gold',
                            show_progress=False)

In [29]:
#Save matching and non matching pairs
#apply to C4
predictions = rf.predict(table=CF,#The entire evaluation set
                         exclude_attrs=['_id', 'ltable_id', 'rtable_id'], 
              append=True, target_attr='predicted', inplace=False)

In [32]:
P = predictions.predicted
CP = C[P==1]
#tit = [C.ltable_title, C.rtable_title]
allData = pd.concat([CP.ltable_id, CP.ltable_title, CP.rtable_id, CP.rtable_title],axis =1)
allData.to_csv('../DATA/MatchPredctionsOnAllTuplePairs.csv', index=False)

In [33]:
allData

,ltable_id,ltable_title,rtable_id,rtable_title
0,1757,Hamlet,11,Hamlet
6,3547,Home for the Holidays,22,Home for the Holidays
14,502,Hot Fuzz,36,Hot Fuzz
17,3688,Drop Dead Gorgeous,57,Drop Dead Gorgeous
30,2558,The Butterfly Effect,123,The Butterfly Effect
35,4100,Mystic Pizza,135,Mystic Pizza
36,1135,Mystic River,139,Mystic River
37,114,Butch Cassidy and the Sundance Kid,141,Butch Cassidy and the Sundance Kid
39,2498,Mystery Science Theater 3000: The Movie,154,Mystery Science Theatre 3000
40,4076,Mystery Team,156,Mystery Team
41,3168,Mystery Men,157,Mystery Men
42,3222,"Mystery, Alaska",160,"Mystery, Alaska"
54,3440,My Week with Marilyn,192,My Week with Marilyn
61,1822,Burn After Reading,234,Burn After Reading
64,1754,My Own Private Idaho,245,My Own Private Idaho
65,2296,Buried,256,Buried
69,2552,Bulworth,295,Bulworth
70,3398,Bully,297,Bully
74,691,Bullitt,313,Bullitt
75,682,Bullets Over Broadway,314,Bullets Over Broadway
76,105,Bull Durham,323,Bull Durham
84,2885,My Girl,341,My Girl
85,2486,Bugsy,344,Bugsy
86,1186,A Bug's Life,348,A Bug's Life
87,3556,Buffy the Vampire Slayer,349,Buffy the Vampire Slayer
88,1540,Buffalo '66,354,Buffalo '66
89,349,My Fair Lady,401,My Fair Lady
91,3314,The Bucket List,411,The Bucket List
92,582,My Cousin Vinny,442,My Cousin Vinny
93,2445,Brubaker,462,Brubaker
...,...,...,...,...
6222,2496,Young Adult,30301,Young Adult
6226,1136,You Only Live Twice,30338,You Only Live Twice
6229,3415,Very Bad Things,30344,Very Bad Things
6232,1534,You Can Count on Me,30403,You Can Count on Me
6234,92,The Verdict,30418,The Verdict
6235,3057,Vera Drake,30419,Vera Drake
6238,3264,Universal Soldier,30452,Universal Soldier
6244,2046,United 93,30481,United 93
6245,2517,Velvet Goldmine,30499,Velvet Goldmine
6251,1840,Yi Yi,30520,Yi Yi
6253,403,Unforgiven,30546,Unforgiven
6255,3497,Yes Man,30579,Yes Man
6257,3477,Varsity Blues,30585,Varsity Blues
6258,3726,Unfaithful,30588,Unfaithful
6259,4116,The Vanishing,30615,The Vanishing
6260,2876,Vanilla Sky,30625,Vanilla Sky
6271,2644,Underworld,30633,Underworld
6274,1164,Vampyr,30662,Vampyr
6289,2842,Vampires,30698,Vampires
6297,913,Under the Skin,30745,Under the Bed
6299,2696,Under Siege,30754,Under Siege
6302,3224,Valkyrie,30762,Valkyrie
6303,1190,Uncle Buck,30843,Uncle Buck
6304,121,Unbreakable,30863,Unbreakable
6306,1488,The Unbearable Lightness of Being,30876,The Unbearable Lightness of Being
6316,3614,U.S. Marshals,30944,U.S. Marshals
6324,2817,X-Men: The Last Stand,31002,X-Men: The Last Stand
6325,3408,X-Men Origins: Wolverine,31003,X-Men Origins: Wolverine
6326,296,X-Men: First Class,31004,X-Men: First Class
6328,62,X-Men: Days of Future Past,31005,X-Men: Days of Future Past