In [1]:
import sys
import py_entitymatching as em
import pandas as pd
import os
import time

In [2]:
# Get the paths
path_A = '../DATA/imdb3_neg_nan.csv'
path_B = '../DATA/thenumbers3_neg_nan.csv'
path_C = '../DATA/AllTuplePairs.csv'
A = em.read_csv_metadata(path_A, key='id')
B = em.read_csv_metadata(path_B, key='id')
C = em.read_csv_metadata(path_C, 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')

No handlers could be found for logger "py_entitymatching.io.parsers"

In [3]:
C.head()

,_id,ltable_id,rtable_id,ltable_title,ltable_year,ltable_mpaa,ltable_runtime,ltable_genres,ltable_director,ltable_stars,ltable_gross,rtable_title,rtable_year,rtable_mpaa,rtable_runtime,rtable_genres,rtable_director,rtable_stars,rtable_gross
0,4146,1757,11,Hamlet,1996,PG-13,242 min,Drama,Kenneth Branagh,"Kenneth Branagh,Julie Christie,Derek Jacobi,Kate Winslet",$4.41M,Hamlet,1996,PG-13,-1,Drama,-1,Kenneth Branagh,"$7,129,670"
1,5635,2188,15,Six Degrees of Separation,1993,R,112 min,"Comedy, Drama, Mystery",Fred Schepisi,"Will Smith,Stockard Channing,Donald Sutherland,Ian McKellen",$6.41M,A Home of Our Own,1993,Not Rated,-1,-1,Tony Bill,-1,-1
2,5646,168,15,In the Name of the Father,1993,R,133 min,"Biography, Drama",Jim Sheridan,"Daniel Day-Lewis,Pete Postlethwaite,Alison Crosbie,Philip King",$25.01M,A Home of Our Own,1993,Not Rated,-1,-1,Tony Bill,-1,-1
3,5738,458,15,Batman: Mask of the Phantasm,1993,PG,76 min,"Animation, Action, Adventure",Eric Radomski,"Bruce Timm,Kevin Altieri,Boyd Kirkland,Frank Paur,Dan Riba,Kevin Conroy,Dana Delany,Hart Bochner...",$5.62M,A Home of Our Own,1993,Not Rated,-1,-1,Tony Bill,-1,-1
4,5838,778,15,The Remains of the Day,1993,PG,134 min,"Drama, Romance",James Ivory,"Anthony Hopkins,Emma Thompson,John Haycraft,Christopher Reeve",$22.95M,A Home of Our Own,1993,Not Rated,-1,-1,Tony Bill,-1,-1

In [4]:
G = em.read_csv_metadata('../DATA/G.csv', 
                         key='_id',
                         ltable=A, rtable=B, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')
#Build and train model on G
rf = em.RFMatcher(name='RF', random_state=0)
feature_table = em.get_features_for_matching(A, B,
                             validate_inferred_attr_types=False)
H = em.extract_feature_vecs(G, 
                            feature_table=feature_table, 
                            attrs_after='gold',
                            show_progress=False)
rf.fit(table=H, #the entire development set
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')

In [5]:
#convert All Tuple Pairs to features
CF = em.extract_feature_vecs(C, 
                            feature_table=feature_table, 
                            #attrs_after='gold',
                            show_progress=False)

In [6]:
#Save matching and non matching pairs
#apply to C4
predictions = rf.predict(table=CF,#The entire evaluation set
                         exclude_attrs=['_id', 'ltable_id', 'rtable_id'], 
              append=True, target_attr='predicted', inplace=False)

In [7]:
P = predictions.predicted
CP = C[P==1]
#tit = [C.ltable_title, C.rtable_title]
allData = pd.concat([CP.ltable_id, CP.ltable_title, CP.rtable_id, CP.rtable_title],axis =1)
allData.to_csv('../DATA/MatchPredctionsOnAllTuplePairs.csv', index=False)

In [8]:
allData

,ltable_id,ltable_title,rtable_id,rtable_title
0,1757,Hamlet,11,Hamlet
25,3547,Home for the Holidays,22,Home for the Holidays
40,502,Hot Fuzz,36,Hot Fuzz
49,3688,Drop Dead Gorgeous,57,Drop Dead Gorgeous
73,3517,Bye Bye Birdie,98,Bye Bye Birdie
85,2558,The Butterfly Effect,123,The Butterfly Effect
101,4100,Mystic Pizza,135,Mystic Pizza
102,1135,Mystic River,139,Mystic River
103,114,Butch Cassidy and the Sundance Kid,141,Butch Cassidy and the Sundance Kid
106,1289,Mystery Train,151,Mystery Train
118,2498,Mystery Science Theater 3000: The Movie,154,Mystery Science Theatre 3000
119,4076,Mystery Team,156,Mystery Team
120,3168,Mystery Men,157,Mystery Men
121,3222,"Mystery, Alaska",160,"Mystery, Alaska"
177,3440,My Week with Marilyn,192,My Week with Marilyn
180,3591,Bus Stop,194,Bus Stop
203,1822,Burn After Reading,234,Burn After Reading
210,1754,My Own Private Idaho,245,My Own Private Idaho
220,2296,Buried,256,Buried
256,2552,Bulworth,295,Bulworth
257,3398,Bully,297,Bully
274,691,Bullitt,313,Bullitt
275,682,Bullets Over Broadway,314,Bullets Over Broadway
279,105,Bull Durham,323,Bull Durham
297,2885,My Girl,341,My Girl
298,2486,Bugsy,344,Bugsy
300,1186,A Bug's Life,348,A Bug's Life
304,3556,Buffy the Vampire Slayer,349,Buffy the Vampire Slayer
305,1540,Buffalo '66,354,Buffalo '66
324,1975,The Buddy Holly Story,376,The Buddy Holly Story
...,...,...,...,...
26562,263,Yojimbo,30466,Yojimbo
26565,2046,United 93,30481,United 93
26569,2517,Velvet Goldmine,30499,Velvet Goldmine
26576,2314,The Uninvited,30509,The Uninvited
26582,1840,Yi Yi,30520,Yi Yi
26585,403,Unforgiven,30546,Unforgiven
26590,3497,Yes Man,30579,Yes Man
26593,3477,Varsity Blues,30585,Varsity Blues
26594,3726,Unfaithful,30588,Unfaithful
26597,4116,The Vanishing,30615,The Vanishing
26598,2876,Vanilla Sky,30625,Vanilla Sky
26613,2644,Underworld,30633,Underworld
26626,1164,Vampyr,30662,Vampyr
26691,2842,Vampires,30698,Vampires
26755,913,Under the Skin,30745,Under the Bed
26757,2696,Under Siege,30754,Under Siege
26758,2466,Valley Girl,30757,Valley Girl
26765,3224,Valkyrie,30762,Valkyrie
26774,639,Yankee Doodle Dandy,30779,Yankee Doodle Dandy
26786,3204,Uncommon Valor,30819,Uncommon Valor
26788,1190,Uncle Buck,30843,Uncle Buck
26796,121,Unbreakable,30863,Unbreakable
26805,1488,The Unbearable Lightness of Being,30876,The Unbearable Lightness of Being
26868,739,UHF,30922,UHF
26872,3961,U2: Rattle and Hum,30939,U2: Rattle and Hum
26875,3614,U.S. Marshals,30944,U.S. Marshals
26891,2817,X-Men: The Last Stand,31002,X-Men: The Last Stand
26893,3408,X-Men Origins: Wolverine,31003,X-Men Origins: Wolverine
26894,296,X-Men: First Class,31004,X-Men: First Class
26896,62,X-Men: Days of Future Past,31005,X-Men: Days of Future Past