In [5]:
import sys
import pandas as pd

In [7]:
# Get the paths
path_A = '../DATA/imdb3_neg_nan.csv'
path_B = '../DATA/thenumbers3_neg_nan.csv'
path_C = '../DATA/MatchPredctionsOnAllTuplePairs.csv'
A = pd.read_csv(path_A)
B = pd.read_csv(path_B)
Matches = pd.read_csv(path_C)
Matches.head()

   ltable_id           ltable_title  rtable_id           rtable_title
0       1757                 Hamlet         11                 Hamlet
1       3547  Home for the Holidays         22  Home for the Holidays
2        502               Hot Fuzz         36               Hot Fuzz
3       3688     Drop Dead Gorgeous         57     Drop Dead Gorgeous
4       2558   The Butterfly Effect        123   The Butterfly Effect

In [ ]:
def merge_title(title1, title2):
    #take the longer title
    l1 = len(title1)
    l2= len(title2)
    res = title1 if l1>l2 else title2
    return res

In [ ]:
def merge_year(year1, year2):
    #if value form B exists, take it else from A
    if year2 != "-1":
        return year2
    return year1

In [ ]:
def merge_mpaa(mpaa1,mpaa2):
    return mpaa1 if mpaa1 != "Not Rated" and mpaa1 != "-1" else mpaa2

In [ ]:
def merge_runtime(rt1,rt2):
    regex = re.compile('[^0-9]')
    rt1 = regex.sub('',rt1)
    rt2 = regex.sub('',rt2)
    rt1 = int(rt1)
    rt2 = int(rt2)
    rt = rt1 if rt1>rt2 else rt2
    return str(rt)+" min"

In [ ]:
def split_and_union(g1,g2):
    g1 = g1.lower()
    g2= g2.lower()
    g1 = g1.split(",")
    g2= g2.split(",")
    final_list = g1+g2
    final_list = set(final_list)
    return final_list.join(",")

In [ ]:
def merge_genres(g1,g2):
    if g1=="-1": return g2
    if g2=="-1": return g1
    return split_and_union(g1,g2)

In [ ]:
def merge_director_name(dir1,dir2):
    if dir1=="-1": return dir2
    if dir2=="-1": return dir1
    return split_and_union(dir1,dir2)

In [ ]:
def merge_stars(stars1, stars2):
    if stars1=="-1": return stars2
    if stars2=="-1": return stars1
    return split_and_union(stars1,stars2)

In [ ]:
def merge_gross():